.movie{
    &-header{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    &-title{
        font-size: 2rem;
        font-weight: 600;
        color: #efef;
    }
}