@use "../main.scss" as *;

$primary-background-color: var(--primary-background-color);
$primary-text-color: var(--primary-text-color);

$secondary-background-color: var(--secondary-background-color);
$secondary-text-color: var(--secondary-text-color);
